# db
MYSQL_IMAGE=mysql:8.0
MYSQL_ROOT_PASSWORD=R4MmGnntRa4TY64s

# redis
REDIS_IMAGE=redis

# web
SNOW_IMAGE=crpi-mnko9knp7b1vr6nv.cn-chengdu.personal.cr.aliyuncs.com/secsnow/snowctf:1.2
SNOW_MYSQL_NAME=snowctf

# nginx
NGINX_IMAGE=nginx
NGINX_PORT=80
